
<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="banner flex">
    <div>
      <div>
        <h3 class="description">You:</h3>
        <h2 class="output"><%= @question %></h2>
      </div>
      <div>
        <h3 class="description">Your coach:</h3>
        <h2 class="output"><%= @answer %></h2>
      </div>
    </div>
  </div>
  <%= link_to "Ask a new question", "/ask" %>
</div>

