<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="banner flex">
    <div>
      <h3 class="description">Ask your coach anything:</h3>
      <form action="/answer">
        <input class="input-large" type="text" name="question">
        <input type="submit" value="Ask!">
      </form>
    </div>
  </div>

</div>

